@import "variables";

.summoner-watcher-header{
    width: calc(100vw - 100px);
    background-color: $dark-blue;
    height: 30vh;
    margin: 0;
    max-height: 200px;
    min-height: 100px;
    padding: 50px;
    display: flex;
    
    .header-content{
        width: $main-site-width;
        margin: auto;
    }

    h1{
        color: $white;
    }

    
}

