@import "variables";

.summoner-watcher-header{
    width: calc(100vw - 100px);
    background-color: $dark-blue;
    height: 30vh;
    margin: 0;
    max-height: 200px;
    min-height: 100px;
    padding: 50px;
    display: flex;
    
    #header-content{
        width: $main-site-width;
        margin: auto;
    }

    h1{
        color: $white;
        margin-bottom: 25px;
    }

    nav{
        padding: 10px 0px;
        font-size: 20px;
        border-top: 1px solid $medium-blue;
        color: $white;
        width: max-content;
        a{
            padding: 10px 20px 10px 20px;
            user-select: none;
            transition: .1s;
            color: $white;
            text-decoration: none;
        }
        a:hover{
            border-top: 1px solid $orange;
        }
        a:active{
            border-top: 1px solid $green;
        }
        a:first-child{
            padding: 10px 20px 10px 0px;
        }
    }

    
}

