@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/brands.scss";

.leaderboard{
    display: flex;
    background-color: $dark-blue;
    max-width: 50%;
    padding: 30px;
    margin-bottom: 20px;
    color: $white;
    flex-direction: column;
    box-sizing: border-box;
    .leaderboard-list{
        display: flex;
        flex-direction: column;
    }
    .name-and-place{
        display: flex;
        flex-direction: row;
        align-items: center;
        .place0.place{
            font-weight: bold;
            color: $gold;
            font-size: 20px;
            @extend %fa-icon;
            @extend .fas;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            &:before {
                content: fa-content($fa-var-trophy);
                padding: 2px;
            }
        }
        .place1.place{
            font-weight: bold;
            color: $silver;
            font-size: 20px;
        }
        .place2.place{
            font-weight: bold;
            color: $bronze;
            font-size: 20px;
        }
        .place{
            color: $light-blue;
        }
    }
    .summoner-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #43497C;
        padding: 10px;
    }
    .summoner-icon img{
        max-width: 50px;
        border-radius: 50%;
        padding-left: 15px;
        padding-right: 10px;
    }
    .summoner-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5px 15px;
    }
    .summoner-level{
        border-top: 1px solid $medium-blue;
        padding: 15px 0px 0px 0px;
    }
}