#main-content{
    background: linear-gradient( $faded-blue 100%, $faded-blue 100%), url(http://localhost:3000/cloud-gamers/media/default-background.png);
    height: auto;
    min-height: calc(100vh - 300px);
    padding: 20px;
    background-size: 130%;

    #main-content-wrap{
        max-width: $main-site-width;
        margin: auto;
    }
}