#main-content{
    background: linear-gradient( $faded-blue 100%, $faded-blue 100%), url("../media/default-background.png");
    height: auto;
    min-height: calc(100vh - 300px);
    padding: 20px;
    background-position: top center;
    background-size: 300%;

    #main-content-wrap{
        max-width: $main-site-width;
        margin: auto;
    }
}