#summoner-previews{
    .summoner-container{
        display: flex;
        background-color: $dark-blue;
        padding: 30px;
        margin-bottom: 20px;
        color: $white;
        .summoner-icon img{
            max-width: 90px;
            border-radius: 50%;
        }
        .summoner-info{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 5px 15px;
        }
        .summoner-level{
            border-top: 1px solid $medium-blue;
            padding: 15px 0px 0px 0px;
        }
        h3{
            margin: 0px 0px 15px 0px;
        }
    }
}