

//primary site colors
$dark-blue: #272841;
$medium-blue: #43497C;
$green: #45C642;
$orange: #D88232;
$faded-blue: #2e314de1;

//monochrome base colors
$white: #fff;
$black: #000;
$light-grey: #DFDFDF;

//secondary site colors
$gold: #C99A54;

//fonts
$font-string: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

//global numbers
$main-site-width: 1300px;