body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

h1 {
  font-size: 48px; }

.summoner-watcher-header {
  width: calc(100vw - 100px);
  background-color: #2E314D;
  height: 30vh;
  margin: 0;
  max-height: 200px;
  min-height: 100px;
  padding: 50px;
  display: flex; }
  .summoner-watcher-header .header-content {
    width: 1300px;
    margin: auto; }
  .summoner-watcher-header h1 {
    color: #fff; }
